$cols: 2fr 1fr;

.table {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1ex;

    &>.top {
        display: grid;
        grid-template-columns: $cols;
        gap: 1em;

        div {
            margin: 0 auto;
            width: 100%;
            height: 100%;
            text-align: center;
        }
    }

    .question {
        display: grid;
        grid-template-columns: $cols;
        row-gap: 2ex;

        .query {
            display: flex;
            flex-direction: row;
            gap: 1ch;

            * {
                margin: auto 0;
            }
        }

        .answer {
            display: grid;
            grid-template-columns: 1fr;

            * {
                display: block;
                margin: auto;
            }

            ;
        }
    }
}