@import "../../../colors";

.Node {
    background-color: $idk;
}

.Wall {
    background: $background;
}

.Start {
    background: $nicePink;
}

.End {
    background: $nicePinkInv;
}

.Path {
    background: $text;
}

.Explored {
    background: $primaryDullDesat;
}

.Removed {
    $fore: $bad;
    $pr: $idk;
    $size: calc(100% / 4);
    background: repeating-linear-gradient(135deg, $fore, $fore $size, $pr $size, $pr $size * 2);
    &::before {
        opacity: 1;
    }
}

// delay
@for $i from 1 through 4 {
    .d#{$i} {
        animation-delay: #{$i}s;
    }
} 