[submodule "public/fun/chalk"]
	path = public/fun/chalk
	url = https://github.com/Rijndael1998/ChalkLegacy/
[submodule "public/fun/ase"]
	path = public/fun/ase
	url = https://github.com/Rijndael1998/Advanced-Software-Engineering-Drawing-Project
[submodule "public/fun/website"]
	path = public/fun/website
	url = https://github.com/Rijndael1998/Website
[submodule "public/fun/lagrange"]
	path = public/fun/lagrange
	url = https://github.com/Rijndael1998/LagrangePolynomialDemo
