<!DOCTYPE html>
<html>
	<head>
		<script src="<!--P5-->"></script>
		<link rel="stylesheet" type="text/css" href="Resources/Styles/style.css">
		<meta charset="utf-8">
		<title>Chalk - <!--TYPE--></title>
	</head>
	
	<body class="gameproject">
		<div id="progressBar"><div id="progress"></div></div>
		<script src="Resources/Scripts/loader.js"></script>
	</body>
</html>