@import "./../../../vars";
@import "./../../../colors";

.hamburgerWrapper {
    display: flex;

    font-size: 0;
    margin: auto 0 auto 0;
    overflow: hidden;

    height: 0%;
    aspect-ratio: 1;

    background-color: black;

    transition: all 0.4s ease;

    &.onTop {
        z-index: 2;
    }

    .hamburger {
        $size: 5ch;
        $gap: 2fr;
        $div: 1.5fr;

        display: grid;
        margin: auto;
        height: $size;
        width: 0;

        grid-template-columns: 1fr;
        grid-template-rows: $gap $div $gap $div $gap $div $gap;

        transition: inherit;

        cursor: pointer;
    
        &.crossed div {
            background-color: green;
        }

        div:nth-child(2n-1) {
            background-color: transparent !important;
        }

        div {
            background-color: $text;
        }

        &.show {
            width: $size;
        }
    }    
}

@media screen and (max-width: $navBreak) {
    .hamburgerWrapper {
        height: 100%;
        font-size: 1rem;
        margin: auto 1rem auto 2rem
    }
}