$cols: 3fr 1fr;

.table {
    display: grid;
    grid-template-columns: 1fr;

    &>.top {
        display: grid;
        grid-template-columns: $cols;

        div {
            margin: auto;
        }
    }

    .question {
        display: grid;
        grid-template-columns: $cols;


        .answer {
            display: grid;
            grid-template-columns: 1fr 1fr;

            * {
                display: block;
                margin: auto;
            }

            ;
        }
    }
}