.Node {
    background-color: green;
}

.Wall {
    background-color: black;
}

.Start {
    background-color: aqua;
}

.End {
    background-color: blue;
}

.Path {
    background-color: white;
    animation: ani 1s ease-in-out infinite;
}

.Explored {
    background-color: darkslategrey;
}

.Removed {
    background-color: brown;
}

@keyframes ani {
    50% {
        background-color: #313131;
    }
}