.Node {
    background-color: green;
}

.Wall {
    background-color: black;
}

.Start {
    background-color: aqua;
}

.End {
    background-color: blue;
}

.Path {
    background-color: white;
}

.Explored {
    background-color: darkslategrey;
}

.Removed {
    background-color: brown;
}