@import "./../../vars";
@import "./../../colors";

.footer {
    width: 100%;
    min-height: $footerHeight;
    background-color: $secondaryBg;

    bottom: 0;

    display: grid;

    .centre {
        display: flex;
        flex-wrap: wrap;

        gap: 2em;

        margin: auto;
        max-width: calc($pageWidth - 2em);
        width: calc(100% - 2em);

        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: auto;

            p {
                margin: .5ex auto;
            }
        }
    }

    .imageWrapper {
        display: block;
        margin: auto;
    }
}

@media screen and (max-width: $footerBreak) {
    .footer, .centre {
        flex-direction: column;
    }
}