@import "./../../vars";
@import "./../../colors";

.footer {
    position: absolute;
    width: 100%;
    height: $footerHeight;
    background-color: $secondaryBg;

    bottom: 0;

    display: grid;
    
}