@use "../../../vars";

.wrapper {
    display: flex;
    background: linear-gradient(90deg, black 75%, transparent 100%);
    height: 100%;

    div {
        position: relative;
        height: 100%;

        aspect-ratio: 1;

        margin-left: 2ch;
    }

    h1,
    h2,
    h3,
    h4,
    h4,
    h5,
    h6 {
        margin: auto;

        width: min-content;
        white-space: nowrap;
    }

    span {
        padding-left: 1ch;
        transition: font-size 0.2s ease;

        &:nth-child(1) {
            padding-left: 2ch;
        }
    }
}

@media screen and (max-width: vars.$titleBreak) {
    .span {
        &:not(:nth-child(1)) {
            font-size: 0px;
        }
    }
}

@media screen and (max-width: vars.$titleBreakNone) {
    .span {
        &:nth-child(1) {
            font-size: 0px;
        }
    }
}