@import "../../components/colors.scss";

.item {
    .dot {
        display: grid;
        background-color: black;
        border: 0.5ex solid #bdbdbd;
        border-radius: 100%;

        aspect-ratio: 1;
        width: 3ch;
        height: unset;

        margin: auto;
        margin-top: 0;

        &>svg {
            margin: auto;
            aspect-ratio: 1;
            width: calc(4 * 100% / 7);
            height: unset;
        }
    }

    .left {
        color: darken($text, 40);
    }

    &:hover {
        .dot {
            width: 5ch;
        }

        .left {
            color: $text;
        }
    }

}