@import "./../../../../vars";

.navLink {
    display: flex;
    margin: auto 1ch;

    a {
        color: white;
        text-decoration-color: white;
        transition: text-decoration-color 0.1s ease;

        &:hover {
            text-decoration-color: transparent;
        }
    }
}