.Node {
    background-color: green;
}

.Wall {
    background-color: black;
}

.Start {
    background-color: aqua;
}

.End {
    background-color: blue;
}

.stageButtons {
    display: flex;
}

.stageButton {
    width: 15ch;
    height: 3ex;
    display: grid;
    
    * {
        margin: auto;
    }
}

.grid {
    width: min-content;
    display: block;
    margin: 2em auto;
}

.inline {
    display: inline;
}