@import "./../../colors";
@import "./../../vars";

.button {
    transition: all 0.2s ease;
    background-color: $accentDull;
    cursor: pointer;
    border-radius: $buttonBorderRadius;
    color: $text;
}

.bigButton {
    $padding: 3ch;
    margin: auto;
    width: calc(100% - $padding * 2);
    padding: $padding;
    text-align: center;
}

.selected {
    background-color: $accent;
    color: $background;
}

.disabled, .disabled.selected {
    background-color: $disabled;
    color: $text;
}