@import "./../../colors";
@import "./../../vars";

.button {
    background-color: $accentDull;
    cursor: pointer;
    border-radius: $buttonBorderRadius;
}

.selected {
    background-color: green;
}

.disabled {
    background-color: darkslategray;
}