@import "./../../vars";

.header {
    overflow: hidden;
    position: relative;

    display: flex;
    justify-content: space-between;

    margin: 0 0 2em 0;

    font-family: monospace;

    height: $headerHeight;

    * {
        font-family: inherit;
    }

    filter: hue-rotate(0deg);
    transition: all 1s ease;

    &.red {
        filter: hue-rotate(100deg);
    }
}