@use "sass:math";

$movement: 10rem;

.sliding {
  display: block;

  background-image: url("/green_line.svg");
  background-position: left top;
  background-repeat: repeat-x;
  background-size: $movement;


  position: absolute;
  height: $movement;

  z-index: -1;
  animation-name: silidingAnimation;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-timing-function: linear;
}

@keyframes silidingAnimation {
  from {
    left: 0;
    width: calc(100%);
  }

  to {
    left: -$movement;
    width: calc(100% + calc($movement * 2));
  }
}