@import "../components/vars";
@import "../components/colors";

html {
  position: relative;
  min-height: 100%;
  max-width: 100vw;

  body {
    margin: 0 0 calc($footerHeight * 1.2) 0;
    font-size: 1rem;

    max-width: 100vw;
    min-height: 100vh;

    background-color: $background;
    color: $text;

    a {
      color: $text;
      text-decoration-color: $text;
      transition: text-decoration-color 0.1s ease;

      &:hover {
        text-decoration-color: transparent;
      }
    }
  }
}

code {
  color: $nicePink;
}
