@import "../components/vars";

html {
  position: relative;
  min-height: 100%;

  body {
    margin: 0 0 calc($footerHeight * 1.2 );
    font-size: 1rem;

    min-width: 100vw;
    min-height: 100vh;

    background-color: black;
    color: white;

    main {
      & > h1, 
      & > h2,
      & > h3,
      & > h4,
      & > h5,
      & > h6, 
      & > p
      {
        margin: 0 auto 2rem 2.5rem;
      }

      & > p {
        max-width: 50ch;
      }
    }
  }
}