@import "../components/vars";
@import "../components/colors";
@import "../components/fonts";


html {
  position: relative;
  min-height: 100%;
  max-width: 100vw;

  body {
    margin: 0;
    font-size: 1rem;

    max-width: 100vw;
    min-height: 100vh;

    background-color: $background;
    color: $text;

    font-family: BagnardSans;

    a {
      color: $text;
      text-decoration-color: $text;
      transition: text-decoration-color 0.1s ease;

      &:hover {
        text-decoration-color: transparent;
      }
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: Bagnard;
}

code, tt, pre {
  color: $nicePink;
  white-space: pre;
  font-family: OfficeCodePro;
}
