$text: #ffffff;
$background: #000000;
$primary: #00d600;
$primaryDull: transparentize($primary, 0.55);
$secondary: #0f2f0f;
$secondaryBg: #141414;
$accent: #0ff08b;
$accentDull: transparentize($accent, 0.55);
$disabled: rgb(50, 67, 67);

$nicePink: #e83e8c;