@use 'sass:color';

$text: #ffffff;
$background: #000000;

$primary: #41E041;
$primaryDull: color.adjust($primary, $alpha: -0.55);
$primaryDullDesat: #16522e;

$secondary: #0f2f0f;
$secondaryBg: #141414;
$secondaryBright: #509962;

$accent: #0ff08b;
$accentDull: color.adjust($accent, $alpha: -0.55);

$disabled: rgb(50, 67, 67);

$nicePink: #e83e8c;
$nicePinkInv: hsl(170, 79%, 58%);

$bad: #05474b;

$idk: #509962;

$edge: #64a3c6;