@font-face {
    font-family: Bagnard;
    src: url("/external/Bagnard/Bagnard.otf");
}

@font-face {
    font-family: BagnardSans;
    src: url("/external/Bagnard/Bagnard.otf");
}

@font-face {
    font-family: OfficeCodePro;
    src: url("/external/Office-Code-Pro/Fonts/Office Code Pro/OTF/OfficeCodePro-Regular.otf");
}