$headerHeight: 8ch;

/// breaks
// nav bar
$navBreak: 80ch;

// for title
$titleBreak: 51ch;
$titleBreakNone: 30ch;

// for footer
$footerBreak: 60ch;
$footerBreakXs: 40ch;
$footerBreakL: 90ch;
$footerBreakXl: 120ch;

// values
$buttonBorderRadius: 0.2rem;

// general page size
$pageWidth: 60ch;

