@use "../../vars";
@use "sudokuGridItem.scss";

.gridWrapper {
    .grid {
        --gridSize: 5ch;
        --smallGap: calc(var(--gridSize) / 8);
        --bigGap: calc(var(--gridSize) / 2);
    
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 60ch;
        justify-content: center;
    
        margin: auto;
    
        .row {
            div {
                display: grid;

                position: relative;

                @include sudokuGridItem.sudokuGridItem;

                width: var(--gridSize);
                height: var(--gridSize);

                select {
                    position: absolute;
                    opacity: 0;
                    width: 100%;
                    height: 100%;
                }

                p {
                    margin: 0;
                    justify-self: center;
                    align-self: center;
                    position: absolute;
                }
    
                margin-bottom: var(--smallGap);
    
                &:nth-child(3n) {
                    margin-bottom: var(--bigGap);
                }
    
                &:nth-child(1) {
                    margin-top: var(--bigGap);
                }
            }
    
            margin-right: var(--smallGap);
    
            &:nth-child(3n) {
                margin-right: var(--bigGap);
            }
    
            &:nth-child(1) {
                margin-left: var(--bigGap);
            }
        }
    }
}

@media screen and (max-width: vars.$navBreak) {
    .gridWrapper {
        overflow-y: auto;
    }
}