@import "./../../colors";
@import "./sudokuGridItem.scss";

.common {
    gap: .5em .5em;
    grid-auto-flow: row;

    &>div {
        @include sudokuGridItem;
    }
}

.s9x9 {
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(11, 1fr);

    &>div {

        &:nth-child(11n-3),
        &:nth-child(11n-7) {
            background-color: black;
            border: 0;
        }

        @for $i from 0 through 10 {
            &:nth-child(44n - #{$i}) {
                background-color: black;
                border: 0;
            }
        }
    }

    &.hideNonImportant {
        &>div {
            opacity: 0;

            @for $i from 0 through 14 {
                &:nth-child(#{$i}) {
                    opacity: 1;
                }
            }

            @for $i from 23 through 25 {
                &:nth-child(#{$i}) {
                    opacity: 1;
                }
            }

            &:nth-child(11n + 25) {
                opacity: 1;
            }

        }
    }
}

.ind2 {
    &>div {
        &:nth-child(3) {
            animation: ind2b 4s ease infinite;
        }
    }
}

.ind3 {
    &>div {
        &:nth-child(1) {
            animation: ind2b 4s ease infinite;
        }
    }
}

@keyframes ind2b {
    0% {
        background-color: transparent !important;
    }

    50% {
        background-color: $accent !important;
        border: 1px solid $accent;
    }

    100% {
        background-color: transparent !important;
    }
}

@keyframes ind4b {
    0% {
        background-color: transparent !important;
    }

    50% {
        background-color: $accent !important;
        border: 1px solid $accent;
    }

    100% {
        background-color: transparent !important;
    }
}

.s3x3 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    margin: 2rem auto !important;
    width: calc(100% / 3);

    aspect-ratio: 1;
}

.s9x1 {
    grid-template-columns: repeat(9, 1fr);
}

.s1x9 {
    margin: 2rem auto !important;
    max-width: calc(100% / 9) !important;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, 1fr);
}