.wrapper {
    position: relative;
    background-color: seashell;
    width: 100%;
    aspect-ratio: 1;

    .point {
        position: absolute;
        width: 1em;
        height: 1em;
        background-color: #cea2fd;

        border-radius: 100vh;
        transform: translate(-0.5em, -0.5em);

        $tr: 0.1s ease;

        transition:
            width $tr,
            height $tr,
            transform $tr;

        &.hidden {
            width: 0.5em;
            height: 0.5em;
            // transform: translate(-0.25em, -0.25em);
        }
    }
}