@use "sass:color";
@use "../colors";

.portfolio {
    position: relative;
    background-color: colors.$secondaryBg;

    display: grid;

    $imgShares: 3fr;
    $textShares: 15ex;
    grid-template-rows: $imgShares $textShares 0;

    max-width: 100%;
    height: 40ex;

    border-radius: 1ch;
    overflow: hidden;

    transition: all 0.25s cubic-bezier(.65, .05, .54, 1);

    $b_width: 0.2ex;
    $borer_hover_col: color.adjust(colors.$secondaryBg, $lightness: 20%);

    $border_declaration: $b_width color.adjust(colors.$secondaryBg, $lightness: 5%) solid;
    $border_declaration_hover: $b_width $borer_hover_col solid;

    border: $border_declaration;

    &:hover {
        border: $border_declaration_hover;
        grid-template-rows: $imgShares 0 $textShares;

        box-shadow: 0 .4ch 1ch 0 rgba(73, 73, 73, 0.7);
    }

    filter: saturate(1);

    &.empty:hover {
        filter: saturate(0);
    }

    div.portfolioMainContent {
        display: grid;
        text-align: center;

        transition: inherit;
        transform: rotateX(0deg);
        opacity: 1;
        border-top: $border_declaration;

        overflow: hidden;

        width: 100%;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            display: block;
            margin: auto;
            padding: 1ch;
        }

        * {
            transition: inherit;
        }
    }

    &:hover div.portfolioMainContent {
        // transform: rotateX(90deg);
        opacity: 0;
        border-top-width: 0;

        * {
            transform: translateY(-100%);
        }
    }

    div.portfolioMainContentHover {
        transition: inherit;
        opacity: 0;

        backdrop-filter: blur(0);
        background-color: rgba(0, 0, 0, 0);

        border-top: $border_declaration;
        border-width: 0;

        display: grid;

        align-items: center;
        justify-items: center;

        overflow: hidden;

        width: 100%;
    }

    &:hover div.portfolioMainContentHover {
        opacity: 1;
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(1ch);

        border-top: $border_declaration_hover;
    }
}