@import "./../colors";
@import "./sizes.scss";

.portfolio {
    position: relative;
    background-color: $secondaryBg;
    display: grid;
    
    max-width: 100%;

    border-radius: 1ch;
    overflow: hidden;

    transition: all 0.15s ease;

    $b_width: 0.2ex;
    $borer_hover_col: lighten($secondaryBg, 20);

    $border_declaration: $b_width lighten($secondaryBg, 5) solid;
    $border_declaration_hover: $b_width $borer_hover_col solid;

    border: $border_declaration;

    &:hover {
        border: $border_declaration_hover;
    }

    filter: saturate(1);

    &.empty:hover {
        filter: saturate(0);
    }

    div.portfolioMainContent {
        display: grid;
        text-align: center;

        position: relative;

        h2 {
            display: block;
        }

        &>* {
            margin: auto;
            padding: 0;
        }

        div.portfolioMainContentHover {
            transition: all 0.25s ease-in-out;
            opacity: 0;
            position: absolute;

            // Hack around firefox bug. It prevents translate being used while absolute + backdrop filter.
            top: 100%;
            bottom: -100%;

            left: 0;
            right: 0;

            backdrop-filter: blur(0);
            background-color: rgba(0, 0, 0, 0);

            border-top: $border_declaration;

            display: grid;
            align-items: center;
            justify-items: center;
        }
    }

    &:hover div.portfolioMainContent div.portfolioMainContentHover {
        top: 0%;
        bottom: 0%;

        opacity: 1;
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(1ch);

        border-top: $border_declaration_hover;
    }
}

.content {
    display: grid;
    justify-content: stretch;
    justify-items: stretch;

    // set the width to have a max of 3 cols or less
    width: calc(100% - $gapping * 2);
    max-width: calc($size * 3);

    // center if smaller than main
    margin: auto;

    grid-template-columns: repeat(2, 1fr);

    gap: $gapping;

    padding: 0 $gapping;
    padding-bottom: 6rem;
}

@media screen and (max-width: calc(($size * 2) + ($gapping * 4))) {
    .content {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: calc(($size * 1) + ($gapping * 4))) {
    .content {
        grid-template-columns: 1fr;
    }
}