@import "./../../vars";

.nav {
    display: flex;
    padding: 0.5ch 2ch;
    background: linear-gradient(90deg, transparent 0%, black 25%);
}

@media screen and (max-width: $navBreak) {
    .nav {
        &.isOpen {
            transform: translateX(0%);
        }

        &.isClosed {
            transform: translateX(100%);
        }

        position: fixed;

        left: 0;
        right: 0;
        top: 0;
        bottom: 0;

        z-index: 1;
        flex-direction: column;

        transition: transform ease 0.4s;

        // background: black;
    }
}