@use "../../vars";

.nav,
.menu {
    font-size: 1rem;

    display: flex;
    padding: 0.5ch 2ch;
    background: linear-gradient(90deg, transparent 0%, black 25%);
    overflow: hidden;

    &,
    & a {
        transition: all ease 0.4s;
    }
}

.nav {
    justify-content: space-between;
}

.menu {
    position: fixed;

    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    z-index: 1;
    flex-direction: column;

    &.isOpen {
        transform: translateX(0%);
    }

    &.isClosed {
        transform: translateX(100%);
    }

    * {
        margin: auto;
    }
}

@media screen and (max-width: vars.$navBreak) {
    .nav {
        padding-left: 0;
        padding-right: 0;

        a {
            font-size: 0;
            text-decoration-color: transparent !important;
            color: transparent !important;
            opacity: 0;
        }

        div {
            margin-left: 0;
            margin-right: 0;
        }
    }
}