.wrapper {
    display: flex;
    background: linear-gradient(90deg, black 75%, transparent 100%);
    height: 100%;

    div {
        position: relative;
        height: 100%;

        aspect-ratio: 1;

        margin-left: 2ch;
    }

    h1 {
        margin: auto;
        padding: 0.5ch 2ch;

        width: min-content;
        white-space: nowrap;
    }
}